<a class="anchor" id="about"></a>
<div class="inner-section">

    <h1>Think. Build. Play.</h1>
    <div class="feature">
        <img src="http://dummyimage.com/960x440/4d494d/686a82.gif&text=image+of+space" alt="image+of+space">
    </div>
    <p>Startup Shell advances student startups and projects while leading technology and entrepreneurship initiatives in the greater community. We strive to promote our core values of students, technology, entrepreneurship and innovation, and collaboration.</p>

    <nav class="more-menu">
        <p>more:</p>
        <ul>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Story</a></li>
            <li><a href="#">The Space</a></li>
            <li><a href="#">Resources</a></li>
        </ul>
    </nav>

</div> <!-- end .inner-section -->