<a class="anchor" id="about"></a>
<div class="inner-section">

    <h1>Think. Build. Play.</h1>
    <div class="feature">
        <!-- <img src="http://i.imgur.com/riZCRq1.jpg" alt="Sexy wall mural in our space."> -->
       <%=image_tag("space-feature.jpg", alt: "Sexy wall mural in our space.", id: "shellbot") %>
    </div>
    <p>Startup Shell is a student-run technology collective that advances ventures while leading educational initiatives in our greater community. We value students, technology, entrepreneurship and innovation, and collaboration. The Shell provides hackerspace resources and business direction through a lively coworking environment in our space on the University of Maryland campus.</p>

</div> <!-- end .inner-section -->