<a class="anchor" id="about"></a>
<div class="inner-section">

    <h1>Think. Build. Play.</h1>
    <div class="feature">
        <img src="http://dummyimage.com/960x440/4d494d/686a82.gif&text=image+of+space" alt="image+of+space">
    </div>
    <p>Startup Shell is a student innovation collective that advances startups and projects while leading educational technology and entrepreneurship initiatives in the greater community. We value students, technology, entrepreneurship and innovation, and collaboration. Housed in the Technology Advancement Program building on the University of Maryland, College Park campus, the Shell provides hackerspace resources in a collaborative coworking environment.</p>

</div> <!-- end .inner-section -->