<a class="anchor" id="about"></a>
<div class="inner-section">

    <h1>Think. Build. Play.</h1>
    <div class="feature">
        <!-- <img src="http://i.imgur.com/riZCRq1.jpg" alt="Sexy wall mural in our space."> -->
       <%=image_tag("space-feature.jpg", id: "shellbot") %>
    </div>
    <p>Startup Shell is a student-run, non-profit incubator and collective that cultivates entrepreneurship through collaboration at the University of Maryland.</p>
</div> <!-- end .inner-section -->