<a class="anchor" id="about"></a>
<div class="inner-section">

    <h1>Think. Build. Play.</h1>
    <div class="feature">
        <!-- <img src="http://i.imgur.com/riZCRq1.jpg" alt="Sexy wall mural in our space."> -->
       <%=image_tag("space-feature.jpg", id: "shellbot") %>
    </div>
    <p>Startup Shell is University of Maryland's idea space and startup accelerator, home to the top innovators on campus. Made by students for students, we bridge the innovation gap across all disciplinary areas and campus programs.</p>

</div> <!-- end .inner-section -->