<a class="anchor" id="about"></a>
<div class="inner-section">

    <h1>Think. Build. Play.</h1>
    <div class="feature">
        <%=image_tag("space-feature.png", alt: "Sexy wall mural.")%>
    </div>
    <p>Startup Shell is a technology collective that advances student ventures while leading educational initiatives in the greater community. We value students, technology, entrepreneurship and innovation, and collaboration. The Shell provides hackerspace resources in a lively coworking environment through our space on the University of Maryland campus.</p>

</div> <!-- end .inner-section -->