<div class="inner-section">
    <h1>Become a member</h1>
    
    <p>Join our awesome crew of cool people making cool things. We are looking to people who can contribute on multiple levels: individual, project, organization, and community. View the application for more details.</p>

    <div class="feature">
        <div class="apply-button"><a href="/apply">Big ol' apply button</a></div>
    </div>

</div> <!-- end .inner-section -->