<a class="anchor" id="apply"></a>
<div class="inner-section">
    <h1>Become a member</h1>
    
    <p>Join our awesome crew of cool people making cool things. We are looking for people who can contribute on multiple levels: individual, project, organization, and community. While we have <a href="#events">many ways to engage otherwise</a>, membership has specific perks and resources to push your project to the next level including:</p>
    	<ul>
    		<li><p>24-hour swipe access to our decked-out coworking space</p></li>
    		<li><p>Prototyping tools including 3D printer and electronics device lab</p></li>
    		<li><p>Funding opportunities and investor interactions</p></li>
    		<li><p>Mentorship from entrepreneurial professionals</p></li>
    		<li><p>Dedicated desk and workstation space plus storage cubbies</p></li>
    		<li><p>Subscription to various web products</p></li>
		</ul>
	<p><a href="/apply">Learn more about membership and our application process.</a></p>

    <div class="feature">
        <div class="apply-button"><a href="/apply">Big ol' apply button</a></div>
    </div>

</div> <!-- end .inner-section -->