<div class="section-title"><h1>Connect</h1></div>
<div class="inner-section">
    <h2>See you around the block</h2>
    <p>Email, Twitter, Facebook</p>
    <nav class="more-menu">
        <p>more:</p>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>

</div> <!-- end .inner-section -->