<a class="anchor" id="apply"></a>
<div class="inner-section">
    <h1>Become a member</h1>
    
    <p>Join our awesome crew of cool people making cool things. We are looking for people who can contribute on multiple levels: individual, project, organization, and community. While we have <a href="#events">many ways to engage otherwise</a>, membership has specific perks and resources to push your project to the next level including:</p>

    <div class="feature">
        <div class="apply-button"><a href="/apply">Big ol' apply button</a></div>
    </div>

</div> <!-- end .inner-section -->