<div class="inner-section">
    <h1>See you around the block</h1>
    <p>Email, Twitter, Facebook</p>
    <nav class="more-menu">
        <p>more:</p>
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </nav>

</div> <!-- end .inner-section -->