<a class="anchor" id="events"></a>
<div class="inner-section container_12">
    <div class="grid_6 alpha">
        <h2>Events</h2>
        <p><%= render "pages/calendar" %></p>
    </div>
    <div class="grid_6 omega">
        <h2>News</h2>
        <p>Startup Shell: UMD's Student-Run Incubator Paving the Way for Big Things to Come</p>
        <p>Startup Shell gives students the chance to innovate</p>
        <p>The UMD Startup Shell is Now Accepting Applications</p>
        <p>The New Startup Shell</p>
        <p>Q&A: Eric Rosenberg, co-founder of U.Md.’s Startup Shell</p>
        <p>Self-Hacks</p>
    </div>
</div> <!-- end .inner-section -->