<a class="anchor" id="events"></a>
<div class="inner-section">

    <h1>Become a member</h1>
    
    <p>Join our awesome crew of cool people making cool things. We are looking to people who can contribute on multiple levels: individual, project, organization, and community. View the application for more details.</p>

    <div class="feature">
        <div class="apply-button"><a href="/apply">Big ol' apply button</a></div>
    </div>

    <h2>Take part in events</h2>
    <p>All events are wide open for everyone to come learn something new! While we are committed to advancing our member projects, it is equally important for us to empower students and the Maryland community. Come one, come all!</p>
    <%= render "pages/calendar" %>

    <nav class="more-menu">
        <p>more:</p>
        <ul>
            <li><a href="#">Apply</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Become a sponsor</a></li>
            <li><a href="#">Become a mentor</a></li>
        </ul>
    </nav>

</div> <!-- end .inner-section -->