<a class="anchor" id="events"></a>
<div class="inner-section">
    <h1>Take part in events</h1>
    <p>All events are wide open for everyone to come learn something new! While we are committed to advancing our member projects, it is equally important for us to engage students and the Maryland community through exciting and empowering educational intiatives. Come one, come all!</p>
    <%= render "pages/calendar" %>

    <nav class="more-menu">
        <p>more:</p>
        <ul>
            <li><a href="https://www.google.com/calendar/embed?src=<%= @id %>&ctz=America/New_York" target="_blank">All Events</a></li>
            <li><a href="https://www.google.com/calendar/render?cid=<%= @id %>" target="_blank">Link Google Calendar</a></li>
            <li><a href="/talks">Shell Talks</a></li>
        </ul>
    </nav>

</div> <!-- end .inner-section -->