<div id="bg">
    <video autoplay loop poster="/assets/timelapse.jpg" id="bgvid">
        <source src="/assets/timelapse.mp4" type="video/mp4">
        <source src="/assets/timelapse.webm" type="video/webm">
    </video>
</div>

<div class="inner-section">

    <h1 class="animated fadeInDown">Think. Build. Play.</h1>
    <p class="intro animated fadeIn">Startup Shell is a student-run nonprofit incubator that fosters entrepreneurship through collaboration at the University of Maryland. These people are building something great.</p>

</div> <!-- end .inner-section -->