<footer class="footer">

    <a class="anchor" id="footer"></a>
    <div class="inner-section">

        <p>&copy; 2013 Startup Shell, University of Maryland</p>

    </div> <!-- end .inner-section -->

</footer> <!-- end footer -->
