
<footer class="footer">

    <a class="anchor" id="footer"></a>
    <div class="inner-section">

        <div class="footer-right">
        	<div class="footer-links">
		        <ul>
		        	<li><a target="_blank" href="mailto:info@startupshell.org"><%=image_tag("icons/icon-mail.png", alt: "Email")%></a></li>
		        	<li><a target="_blank" href="http://www.facebook.com/StartupShell"><%=image_tag("icons/icon-facebook.png", alt: "Facebook")%></a></li>
		        	<li><a target="_blank" href="http://twitter.com/startup_shell"><%=image_tag("icons/icon-twitter.png", alt: "Twitter")%></a></li>
		        </ul>
	   		</div>
		</div>

        <div class="footer-left">
        	<p>&copy; 2013 Startup Shell, University of Maryland</p>
		</div>

    </div> <!-- end .inner-section -->

</footer> <!-- end footer -->
