<a class="anchor" id="people"></a>
<div class="inner-section">

    <h1>Building something great</h1>
    <p>Our students are absolutely crazy. With different backgrounds, experience levels, skills, and interests, members bring a lot to the table for collaboration and knowledge sharing. Get in on the action by <a href="#apply">applying for membership</a> or <a href="#events">participating in events</a>.</p>
    <div class="feature">
        <%=image_tag("maryland-students.png", alt: "Silly Maryland students are silly.")%>
    </div>

    <h1>We love our support network</h1>
    <p>We have a great team of sponsors, mentors, and partners to back us in our journey. Their advice and resources are invaluable to students in all stages of development, from ideation to operations.</p>
    <div class="feature">
        <%=image_tag("sponsors-row.png", alt: "Look at all these dope sponsors.")%>
    </div>


    <nav class="more-menu">
        <p>more:</p>
        <ul>
            <li><a href="javascript:void()" class="disabled" title="Coming soon!">Become a Sponsor</a></li>
            <li><a href="javascript:void()" class="disabled" title="Coming soon!">Become a Mentor</a></li>
        </ul>
    </nav>
</div> <!-- end .inner-section -->