<a class="anchor" id="people"></a>
<div class="section-title"><h1>People</h1></div>

<div class="inner-section">

    <h2>These people are building something great</h2>
    <div class="feature">
        <img src="http://dummyimage.com/960x440/4d494d/686a82.gif&text=image+of+students+being+sillay" alt="image+of+students+being+sillay">
    </div>
    <p>Our students are absolutely crazy. With different backgrounds, experience levels, skills, and interests, members bring a lot to the table for collaboration and knowledge sharing. Get in on the action.</p>

    <h2>We &#60;3 our support network</h2>
    <div class="feature">
        <img src="http://dummyimage.com/960x440/4d494d/686a82.gif&text=image+of+students+being+sillay" alt="image+of+students+being+sillay">
    </div>
    <p>We have a great team of sponsors, mentors, and partners to help us out in the journey. Their advice and resources are invaluable to students in all stages of development, from ideation to operations.</p>

    <nav class="more-menu">
        <p>more:</p>
        <ul>
            <li><a href="#">Students</a></li>
            <li><a href="#">Sponsors</a></li>
            <li><a href="#">Mentors</a></li>
            <li><a href="#">Partners</a></li>
        </ul>
    </nav>
</div> <!-- end .inner-section -->