<a class="anchor" id="startups"></a>
<div class="inner-section">

    <h1>Home to diverse ventures</h1>
    <div class="startup-grid container_12">
        <% @startups.shuffle.each do |start|
            # if no URL disable cursor and clicking
            hide = ""
            if start[0] == ""
                hide = " no-link"
                start[0] = "javascript:"
            end
            %>

            <%= link_to(image_tag("startups/"+start[1], :class => "grid_3" + hide, :alt=>start[2]), start[0], :target => "_blank")%>
        <% end %>
    </div>

    <nav class="more-menu">
        <p>more:</p>
        <ul>
            <li><a href="#">Startup bios</a></li>
            <li><a href="#">Hacks</a></li>
        </ul>
    </nav>




</div> <!-- end .inner-section -->