<div class="section-title" style="margin-top: 80px;">
	<h1>Apply</h1></div>
<div class="inner-section">

	<p>Join cool people making cool things in the Shell. We are looking for people who can contribute on multiple levels: individual, project, organization, and community. Membership has specific perks and resources to push your project to the next level including:</p>
	<ul>
		<li><p>24-hour swipe access to our decked-out coworking space</p></li>
		<li><p>Prototyping tools including 3D printer and electronics device lab</p></li>
		<li><p>Funding opportunities and investor interactions</p></li>
		<li><p>Mentorship from entrepreneurial professionals</p></li>
		<li><p>Dedicated desk and workstation space plus storage</p></li>
		<li><p>Free subscriptions to various web products</p></li>
	</ul>
	<p>Applications for the 2013-2014 academic year close <strong>Monday, September 23, 2013 at 5pm.</strong>Interviews will take place on Tuesday, September 24 and Wednesday, September 25. Final decisions will be made <strong>Friday, September 27</strong>, and emails will roll out that night.</p>
	<p>Every applicant will be offered an interview. Interviews will be conducted in a groups, and should last no longer than 30 minutes. Please stay tuned for more details on signing up for interviews.</p>
	<p>Applications will also be accepted on a more selective rolling basis afterwards. There is no limit to the number of times you may apply. Should you not be accepted for membership, there are many opportunities to stay engaged, including special programs for applicants only.</p>
	<p>If you apply as a group or team&mdash;your startup founders or otherwise&mdash;your team will only be admitted in full, so as to not fragment team leadership. Each member must still fill out applications individually, but please mention your startup team in the projects question.</p>
	<p><a href="mailto:info@startupshell.org" target="_blank">Please feel free to reach out to us with any and all questions.</a></p>

<script type="text/javascript" src="http://form.jotform.co/jsform/32348455323857"></script>

</div>
</div>