<div class="section-title" style="margin-top: 30px;">
	<h1>Apply</h1></div>
<div class="inner-section">

	<p>Join our awesome crew of cool people making cool things. We are looking for people who can contribute on multiple levels: individual, project, organization, and community. While we have <a href="#events">many ways to engage otherwise</a>, membership has specific perks and resources to push your project to the next level including:</p>
	<ul>
		<li><p>24-hour swipe access to our decked-out coworking space</p></li>
		<li><p>Prototyping tools including 3D printer and electronics device lab</p></li>
		<li><p>Funding opportunities and investor interactions</p></li>
		<li><p>Mentorship from entrepreneurial professionals</p></li>
		<li><p>Dedicated desk and workstation space plus storage cubbies</p></li>
		<li><p>Subscription to various web products</p></li>
	</ul>

<script type="text/javascript" src="http://form.jotform.co/jsform/32348455323857"></script>
</div>
</div>