<div class="section-title" style="margin-top: 80px;">
	<h1>Shell Talks</h1></div>
<div class="inner-section">

	<p>Shell Talks give students an opportunity to discuss their favorite topics, sharing their expertise with the public in an interactive dialogue format.</p>
	
	<h1>Upcoming Talks</h1>
	<ul>
		<li>
			<h2>007 - Appeal to Slow Motion</h2>
			<p>Jeff Hilnbrand, 3/5/13</p>
		</li>
	</ul>

	<h1>Past Talks</h1>
	<ul>
		<li>
			<h2>006 - Make It Pop: Contrast as the Foundation of Design</h2>
			<p>Jeff Hilnbrand, 4/24/13</p>
		</li>
		<li>
			<h2>005 - How to F*** with... like All Real-World Stuff (Arduino Style)</h2>
			<p>Brent Bovenzi, 3/13/13</p>
		</li>
		<li>
			<h2>004 - How to F*** with Cloud Computing: Getting Started with Amazon Web Services</h2>
			<p>Justin Searles, 3/11/13</p>
		</li>
		<li>
			<h2>003 - How to Manipulate Logos and Toy with Corporate America: Intro to Adobe Illustrator</h2>
			<p>Jeff Hilnbrand, 3/5/13</p>
		</li>
		<li>
			<h2>002 - How to F*** with Lego Bricks: Prototyping with 3D Printing</h2>
			<p>Eric Mintzer, 2/13/13</p>
		</li>
		<li>
			<h2>001 - How to F*** with DP Dough: Fun with Chrome Dev Tools</h2>
			<p>Eric Rosenberg, 2/13/13</p>
		</li>
	</ul>

<script type="text/javascript" src="http://form.jotform.co/jsform/32348455323857"></script>
</div>
</div>